<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Atena - {{ titulo_pagina }}</title>
    {% include 'base/includes/head.html' %}
    {% block extra_css %}
    {% endblock extra_css %}
</head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        {% include 'base/includes/header.html' %}
      </header>
        <!-- Left side column. contains the logo and sidebar -->
        {% include 'base/includes/sidebar.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          <section class="content-header">
            <h1>
              {{ titulo_pagina }}
              <small>{{ subtitulo_pagina }}</small>
            </h1>
          </section>
          <!-- Main content -->
          <section class="content">
          {% block content %}
          {% endblock content %}
          </section>
        </div>

        <footer class="main-footer">
          <div class="pull-right hidden-xs">
            <b>Versão</b> 1.0.0
          </div>
          <strong>Copyright ©2018 LAIS - HUOL - UFRN.</strong> Alguns direitos reservados
        </footer>

      </div>
    </div>

    {% include 'base/includes/base_scripts.html' %}
    {% block extra_js %}
    {% endblock extra_js %}

  </body>
</html>
