/* Margens e Paddings */
.m-10{
    margin: 10px;
}
.mr-10{
    margin-right: 10px !important;
}
.ml-10{
    margin-left: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.m-20{
    margin: 20px;
}
.mr-20{
    margin-right: 20px !important;
}
.ml-20{
    margin-left: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}

.m-30{
    margin: 30px;
}
.mr-30{
    margin-right: 30px !important;
}
.ml-30{
    margin-left: 30px;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}

.pl-35 .controls{
    padding-left: 35px;
}
/* !Margens */




/* Início páginas de listagem/gerencia */
.button-add-lista{
    float: right;
    margin-top: -55px;
}

.td-editar{
    text-align: center;
}
.td-editar a {
    color: #0e90d2;
}

.box-search{
    margin: 10px;
}
/* Fim páginas de listagem/gerencia */

/* Início estilos select2 */
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{
    min-height: 34px;

    width: 100%;
    min-height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 0px;
    color: black;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    margin-top: -6px;
}

span.select2-selection.select2-selection--multiple{
    padding-bottom: 0px;
}

.select2-selection__rendered{
    padding-left: 0px !important;
}

.select2-dropdown{
    border-radius: 0px !important;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #FFF;
    animation: 0.2 ease-in;
}

.select2-container--open .select2-selection--multiple, .select2-container--open .select2-selection--single{
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-color: #3c8dbc;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555;
    font-size: 14px;
}

.foto_perfil{
    height: 56px;
    width: 56px;
}
/* Fim estilos select2 */

/* PTS Dashboard */
.profissional-item{
    height:160px;
    overflow: auto;
}
.profissional-item img{
    height: 70px !important;
    width: 70px !important;
}
/* ! PTS dashboad*/

.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: 45px;
}

.img-circle-22{
    border-radius: 50%;
    height: 22px;
    width: 22px;
}

.center{
    text-align: center;
}


.meta-box-header{
    display: flow-root;
}

.meta-box-header .box-tools {
    display: table-row;
}

.meta-box-header .box-tools a {
    color: #333546;
    position: relative;
    top: -3px;
    padding-right: 2px;
    padding-left: 2px;
}

.meta-box-header .box-tools span{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 14px;
}

.meta-box-header .box-tools .btn-group {
    height: 14px;
}

.meta-box-header .box-tools .btn-group button{
    height: 14px;
    border: none;
    background-color: lightgrey;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 4px;
}

.meta-box-header .box-tools .btn-group button:active{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
    white-space: normal;
}

.control-group.error label, .control-group .help-inline {
    color: #dd4b39;
}

.control-group .help-inline strong {
    font-weight: 400;
}

.control-group.error .form-control, .control-group.has-error .input-group-addon {
    border-color: #dd4b39;
    box-shadow: none;
}

.errorlist{
    padding: 10px 0 0 0;
    list-style-type: none;
    color: #bf4d3e;
    font-weight: 600;
}

.modal-title {
    display: inline-block;
}


.tag{
        float: left;
    font-size: 12px;
    font-weight: 600;
    height: 8px;
    line-height: 100px;
    margin: 0 3px 3px 0;
    min-width: 70px;
    padding: 0;
    text-shadow: none;
    width: auto;
    border-radius: 3px;
    color: #fff;
    display: block;
    margin-right: 3px;
    overflow: hidden;
    padding: 3px 6px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
}