{% extends 'base/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Lista</h3>
          {% block extra_table_head %}
          {% endblock extra_table_head %}
         </div>
        <div class="box-body">
          {% block tabela %}
          {% endblock tabela %}
        </div>
        <div class="box-footer clearfix">
          Mostrando de {{ lista.start_index }} até  {{ lista.end_index }} de {{ lista.paginator.count }} registros
          <ul class="pagination pagination-sm no-margin pull-right">
            {% if lista.has_previous %}
            <li class="paginate_button previous">
              <a href="?{{ GET_params.urlencode }}&amp;pagina={{ lista.paginator.previous_page_number }}">Anterior</a>
            </li>
            {% else %}
            <li class="paginate_button previous disabled"><a href="#">Anterior</a></li>
            {% endif %}

            {% for i in lista.page_range %}
            <li {% if lista.number == i %} class="active" {% endif %}>
              {% if not i %}
                  <a href="#">...</a>
              {% else %}
                  <a href="?{{ GET_params.urlencode }}&amp;pagina={{ i }}">{{ i }}</a>
              {% endif %}
            </li>
            {% endfor %}
            {% if lista.has_next %}
            <li class="paginate_button next">
              <a href="?{{ GET_params.urlencode }}&amp;pagina={{ lista.next_page_number }}">Próxima</a>
            </li>
            {% else %}
              <li class="paginate_button next disabled"><a href="#">Próxima</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block extra_css %}
{% endblock extra_css %}

{% block extra_js %}
{% endblock extra_js %}
