{% load staticfiles %}

<aside class="control-sidebar control-sidebar-dark control-sidebar">
<!-- Create the tabs -->
<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
  <li class="active"><a href="#control-sidebar-theme-demo-options-tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-tag"></i></a></li>
  <li class=""><a href="#control-sidebar-home-tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-home"></i></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <!-- Home tab content -->
  <div class="tab-pane" id="control-sidebar-home-tab">
    <h3 class="control-sidebar-heading">Recent Activity</h3>
    <ul class="control-sidebar-menu">
      <li>
        <a href="javascript:void(0)">
          <i class="menu-icon fa fa-birthday-cake bg-red"></i>

          <div class="menu-info">
            <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

            <p>Will be 23 on April 24th</p>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="menu-icon fa fa-user bg-yellow"></i>

          <div class="menu-info">
            <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

            <p>New phone +1(800)555-1234</p>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

          <div class="menu-info">
            <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

            <p>nora@example.com</p>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <i class="menu-icon fa fa-file-code-o bg-green"></i>

          <div class="menu-info">
            <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

            <p>Execution time 5 seconds</p>
          </div>
        </a>
      </li>
    </ul>
    <!-- /.control-sidebar-menu -->

    <h3 class="control-sidebar-heading">Tasks Progress</h3>
    <ul class="control-sidebar-menu">
      <li>
        <a href="javascript:void(0)">
          <h4 class="control-sidebar-subheading">
            Custom Template Design
            <span class="label label-danger pull-right">70%</span>
          </h4>

          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <h4 class="control-sidebar-subheading">
            Update Resume
            <span class="label label-success pull-right">95%</span>
          </h4>

          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-success" style="width: 95%"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <h4 class="control-sidebar-subheading">
            Laravel Integration
            <span class="label label-warning pull-right">50%</span>
          </h4>

          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <h4 class="control-sidebar-subheading">
            Back End Framework
            <span class="label label-primary pull-right">68%</span>
          </h4>

          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
          </div>
        </a>
      </li>
    </ul>
    <!-- /.control-sidebar-menu -->

  </div>
    <div id="control-sidebar-theme-demo-options-tab" class="tab-pane active">
        <div>
            <div class="input-group-btn">
              <a class="btn btn-default" style="width: 200px;" href="{% url 'main:CadastroDocumentoRevisao' revisao.id %}">
                Add um artigo
              </a>
            </div> 
            <br>           
            <div class="input-group-btn">
              <a class="btn btn-default" style="width: 200px;" href="{% url 'main:ImportarDocumentos' revisao.id %}">   
                Importar Artigos das Bases
              </a>
            </div>
            <br>
            <div class="input-group-btn">
              <a class="btn btn-default" href="{% url 'main:ClassificarDocumentos' revisao.id %}">Classificar artigos via Scholar</a>
            </div>
            <h4 class="control-sidebar-heading">Add Tag</h4>
            <form id="tag_form" method="POST" action="{% url 'main:CadastroTag' revisao.id%}" >
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_nome">Nome</label>
                    <input type="text" name="nome" id="id_nome" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_cor">Cor: </label>
                    <input type="text" name="cor" id="id_cor" class="my-colorpicker1 colorpicker-element form-control">
                </div>
                <button type="submit" class="btn btn-primary pull-right">Adicionar</button>
            </form>
        </div>
        <br>
        <div id="lista_tags">
            <h4 class="control-sidebar-heading">Tags</h4>
            {% for tag in lista_tags%}
            <button data-id="{{tag.id}}" class="btn mb-10 btntag" style="background-color: {{tag.cor}}; width:200px;"> {{tag.nome}} </button>

            {% endfor %}
        </div>
    </div>
  <!-- /.tab-pane -->


</div>
</aside>

<script>
    $(document).on("submit", "#tag_form", function(e) {
        e.preventDefault();
        var self = $(this),
            url = self.attr("action"),
            ajax_req = $.ajax({
                url: url,
                type: "POST",
                data: {
                    nome: self.find("#id_nome").val(),
                    cor: self.find("#id_cor").val()
                },
                success: function(data, textStatus, jqXHR) {
                    console.log('uc', data, textStatus, jqXHR);
                    estilo = "width:200px; background-color:" + data.tag.cor;

                    button = $('<button data-id='+data.tag.id+' class="btn mb-10 btntag" style='+estilo+'>'+data.tag.nome+'</button>');
                    $('#lista_tags').append(button);
                },
                error: function(data, textStatus, jqXHR) {
                    alert("erro");
                    var errors = $.parseJSON(data.responseText);
                    $.each(errors, function(index, value) {
                        if (index === "__all__") {
                            django_message(value[0], "error");
                        } else {
                            apply_form_field_error(index, value);
                        }
                    });
                }
            });
    });

        $(document).on("click", ".btntag", function(e) {
            id = $(this).attr('data-id');

            var idSelector = function () {
                return parseInt(this.id);
            };
            docIds = $(".doc-selected:checked").map(idSelector).get();
            var idObj = function (v) {
                return {name: 'docs[]', value: v};
            };
            docIds = docIds.map(idObj);
            docIds.push({name: 'csrfmiddlewaretoken', value: jQuery("[name=csrfmiddlewaretoken]").val()});
            docIds.push({name: 'id', value: id});
            submit("{% url 'main:AssociarTag' revisao.id %}?", 'POST', docIds);

        });


    //Colorpicker
    $('.my-colorpicker1').colorpicker()
</script>
